/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif;
}

:root {
  --Soft-red: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  /* (graphic design text) */
  --Dark-desaturated-cyan: hsl(167, 40%, 24%);

  /* (photography text) */
  --Dark-blue: hsl(198, 62%, 26%);
  /* (footer) */
  --Dark-moderate-cyan: hsl(168, 34%, 41%);
  --Dark-moderate-cyan-BG: hsl(168, 34%, 41%, 0.6);

  --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --Very-dark-grayish-blue: hsl(213, 9%, 39%);
  --Dark-grayish-blue: hsl(232, 10%, 55%);
  --Grayish-blue: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);
}

h1,
h3 {
  font-family: "Fraunces", serif;
}

.landing-section {
  height: 900px;

  background-image: url(images/desktop/image-header.jpg);
  background-repeat: no-repeat;
  /* background-size: contain; */
  background-size: 100% 100%;
  /* background-size: contain; */
}

/* Navbar */

.nav {
  display: flex;
  padding: 3rem 3rem;
  justify-content: space-between;
  align-items: center;
}

.logo-img {
  width: 180px;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 3.5rem;
}

.nav-item {
  list-style: none;
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  color: var(--White);
  font-size: 18px;
  font-weight: 600;
}

.nav-item:last-child .nav-link {
  background-color: var(--White);
  color: var(--Very-dark-desaturated-blue);
  font-family: "Fraunces", serif;
  text-transform: uppercase;

  padding: 1.2rem 1.8rem;
  border-radius: 2rem;
}

.nav-item:last-child .nav-link:hover {
  background-color: hsl(0, 0%, 100%, 0.5);
  color: var(--White);
  transition: background-color 0.3s ease;
}

/* First Section  */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
  margin-top: 5rem;
}

.header img {
  width: 2.5rem;
}

.heading-1 {
  color: var(--White);
  font-size: 62px;
  text-transform: uppercase;
  letter-spacing: 0.8rem;
  font-weight: 900;
}

/* Services Section  */

.grid-2-3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.grid-item img {
  width: 100%;
  height: 100%;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 0 10rem;
}

.text-wrapper h1 {
  font-size: 44px;
  color: var(--Very-dark-desaturated-blue);
  font-weight: 900;
}

.text-wrapper p {
  color: var(--Dark-grayish-blue);
  line-height: 1.7;
  font-weight: 600;
}

.grid-item a:link,
.grid-item a:visited {
  color: var(--Very-dark-desaturated-blue);
  font-size: 18px;
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  font-weight: 900;
  /* text-decoration: none; */
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: var(--Yellow);
  text-decoration-thickness: 6px;

  /* text-underline-offset: -0.1rem; */
  /* border-bottom: 4px solid var(--Yellow); */
}

.grid-item:nth-child(5) {
  background-image: url(images/desktop/image-graphic-design.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 2rem;
  padding: 22rem 12rem 0;
}

.grid-item:nth-child(5) h1 {
  color: var(--Dark-desaturated-cyan);
  font-size: 32px;
  font-weight: 800;
}
.grid-item:nth-child(5) p {
  color: var(--Dark-moderate-cyan);
  font-weight: 600;
  line-height: 1.7;
}

.grid-item:nth-child(6) {
  background-image: url(images/desktop/image-photography.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 2rem;
  padding: 22rem 12rem 0;
}

.grid-item:nth-child(6) h1 {
  color: var(--Dark-blue);
  font-size: 32px;
  font-weight: 800;
}
.grid-item:nth-child(6) p {
  color: var(--Dark-blue);
  font-weight: 600;
  line-height: 1.7;
}

/* Testimonial section  */

.testimonials-section {
  padding: 10rem;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimonials-section .heading-2 {
  text-transform: uppercase;
  color: var(--Grayish-blue);
  letter-spacing: 0.3rem;
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 5rem;
}

.testimonials-section img {
  width: 80px;
  border-radius: 100%;
}

.grid-1-3 {
  text-align: center;
  display: flex;
  justify-content: center;
}

.grid-testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-testimonial .testimonial-paragraph {
  color: var(--Very-dark-grayish-blue);
  font-weight: 600;
  line-height: 1.7;
  padding: 4rem 2rem;
}

.grid-testimonial h3 {
  font-weight: 900;
  margin-bottom: 1rem;
}

.grid-testimonial .testimonial-work {
  color: var(--Grayish-blue);
  font-weight: 600;
  font-size: 14px;
}

/* Photos Grid Section  */

.grid-1-4 {
  width: 100%;
  height: 450px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.grid-img:first-child {
  background-image: url(images/desktop/image-gallery-milkbottles.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.grid-img:nth-child(2) {
  background-image: url(images/desktop/image-gallery-orange.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.grid-img:nth-child(3) {
  background-image: url(images/desktop/image-gallery-cone.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.grid-img:last-child {
  background-image: url(images/desktop/image-gallery-sugarcubes.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* Footer Section  */

footer {
  background-image: url(images/desktop/image-graphic-design.jpg);
  background-size: cover;
  background-position: center bottom;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-logo {
  width: 10rem;
}

.footer-links {
  display: flex;
  list-style: none;
  gap: 4rem;
  font-weight: 600;
  margin: 2rem 0 5rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  color: var(--Dark-moderate-cyan);
}

.footer-link:hover,
.footer-link:active {
  color: var(--White);
  transition: color 0.3s ease;
}

.footer-social {
  display: flex;
  list-style: none;
  gap: 2rem;
}

/* .footer-social:hover,
.footer-social:active {
  color: var(--White);
  transition: color 0.3s ease;
} */
