* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Manrope", sans-serif;
}

:root {
  /* ### Primary */

  --Light-Cyan: hsl(193, 38%, 86%);
  --Neon-Green: hsl(150, 100%, 66%);

  /* ### Neutral */

  --Grayish-Blue: hsl(217, 19%, 38%);
  --Dark-Grayish-Blue: hsl(217, 19%, 24%);
  --Dark-Blue: hsl(218, 23%, 16%);
}

body {
  background-color: var(--Dark-Blue);
  color: var(--Light-Cyan);

  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.advice-counter {
  color: var(--Neon-Green);
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  font-size: 12px;
}

.container {
  background-color: var(--Dark-Grayish-Blue);
  padding: 2rem 1.5rem 4rem;
  width: 100%;
  margin: 0 2rem;

  border-radius: 0.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5rem;

  position: relative;
}

.quote {
  font-size: 28px;
}

.generator-btn {
  /*Position style*/
  position: absolute;
  bottom: -2rem;
  /*btn style*/
  border: none;
  background-color: var(--Neon-Green);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.5s;
}

.generator-btn:hover {
  /* color: rgba(255, 255, 255, 1); */
  box-shadow: 1px 1px 15px var(--Neon-Green);
}

@media (max-width: 1920px) {
  .container {
    width: 600px;
  }
}
